.FicheWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.BoutonAjouterFiche {
  min-height: 300px;
  margin: 0px 0px 10px 0px;
  border: dotted 3px #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.LabelAction {
  color: #97989d;
}
