.GroupeFiches {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 160px;
}

.TitreGroupe {
  font-size: 13px;
  color: white;
  height: 50px;
  padding-top: 17px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .GroupeFiches {
    min-width: 80%;
  }
}
