.FicheM {
  padding: 10px;
}

.FicheM:hover {
  background-color: #f5f4f2;
  border-radius: 4px;
}

.Wrapper {
  display: flex;
  flex-direction: row;
}

.Illustration {
  min-width: 40px;
  max-width: 40px;
  margin-right: 10px;
}

.Titre {
  font-weight: 900;
  font-size: 18px;
  color: #6fa2a7;
}

.Texte {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  color: #898a82;
}

.LireFiche {
  font-size: 15px;
  color: #6fa2a7;
}

.LireFiche:hover {
  text-decoration: underline;
}
