.Fiche {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.Titre,
.Symptomes {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f4f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.Titre h1 {
  font-size: 30px;
  font-weight: 700;
  color: #6fa2a7;
  text-transform: uppercase;
}

.Description {
  font-size: 16px;
  color: #333;
}

.DateModification {
  font-size: 12px;
  color: #97989d;
  padding-left: 0px;
  padding-top: 10px;
  font-style: italic;
}

.BarreAction {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 60px;
}

.BoutonModifier {
  background-color: #e8e098;
  height: 30px;
  border: none;
  border-radius: 4px;
  min-width: 120px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(97, 97, 97, 0.507);
}
.BoutonModifier a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #333;
}

.Symptomes {
  display: flex;
  flex-direction: row;
}

.Symptomes h2 {
  padding-right: 50px;
  font-weight: 700;
  color: #6fa2a7;
}

.SymptomesData {
  padding-top: 0px;
  color: #6fa2a7;
  width: 80%;
}

.Symptomes p {
  padding-top: 6px;
  color: #6fa2a7;
  width: 80%;
}

.FicheWrapper {
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}
.Conseil {
  padding: 20px 20px 20px 20px;
  background-color: #e8e098;
}

.Conseil h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
}

.AllezMedecin {
  padding: 20px 20px 20px 20px;
  background-color: #f5f4f2;
  color: #898a82;
}
.AllezMedecin h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
  color: #333;
}

.Article {
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  color: #333;
}

.Article h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
  color: #6fa2a7;
}
