.Fiche {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.EnteteFiche {
  display: flex;
  flex-direction: row;
}

.Illustration {
  max-width: 130px;
  min-width: 130px;
}

.Titre {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f4f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.Titre h1 {
  font-size: 30px;
  font-weight: 700;
  color: #6fa2a7;
  text-transform: uppercase;
}

.Description {
  width: 70%;
  font-size: 16px;
  color: #333;
}

.DateModification {
  font-size: 15px;
  color: #97989d;
  padding-left: 0px;
  padding-top: 10px;
  font-style: italic;
}

.BarreAction {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: #aaa;
  margin-bottom: 20px;
  flex-flow: row-reverse;
  padding-right: 50px;
}

.FicheWrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.Conseil {
  min-width: 330px;
  max-width: 49%;
  padding: 20px 20px 20px 20px;
  background-color: #e8e098;
}

.Conseil h1 {
  font-size: 25px;
  height: 30px;
  margin-bottom: 30px;
}

.AllezMedecin {
  min-width: 330px;
  width: 49%;
  padding: 20px 20px 20px 20px;
  background-color: #f5f4f2;
  color: #333;
}
.AllezMedecin h1 {
  font-size: 25px;
  height: 30px;
  margin-bottom: 30px;
  color: #333;
}

.Articles {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.Article {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .EnteteFiche {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Illustration {
    max-width: 80px;
    min-width: 80px;
    margin: auto;
    margin-bottom: 20px;
  }

  .BarreAction {
    display: none;
  }

  .Titre {
    min-width: 320px;
    padding-left: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f4f2;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .Titre h1 {
    font-size: 28px;
    font-weight: 700;
    color: #6fa2a7;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .Description {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    color: #333;
  }

  .DateModification {
    font-size: 15px;
    color: #97989d;
    padding-left: 0px;
    padding-top: 10px;
    font-style: italic;
  }
}
