.HomePage {
  display: flex;
  flex-direction: column;
}

.NouvellesFiches {
  background-color: #f3f9fa;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.SymptomesFrequents {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.DivBoutons {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Bouton {
  height: 50px;
  width: 295px;
  margin: auto;
  background-color: white;
  color: #6fa2a7;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  border: solid 1px #ddd;
}

.Bouton:hover {
  cursor: pointer;
  border: solid 1px #6fa2a7;
}

.AproposMobile,
.AproposMobile:visited {
  height: 50px;
  width: 295px;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  color: #6fa2a7;
  font-size: 15px;
  font-weight: 700;
  display: none;
  margin-bottom: 50px;
}

.SousTitre {
  font-size: 24px;
  color: #898a82;
  font-weight: 500;
  font-style: italic;
  height: 50px;
  padding-top: 13px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 30px 20px 20px 30px;
  justify-content: space-between;
}

.Phrase {
  width: 70%;
  margin-bottom: 40px;
}

.Suggestions {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  width: 49%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.LogoMobile {
  display: none;
  background-color: #6fa2a7;
  padding-bottom: 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .HomePage {
    padding: 30px 0px 20px 0px;
  }

  .Phrase {
    width: 100%;
    padding: 10px 20px 20px 20px;
  }

  .LogoMobile {
    display: flex;
  }

  .Suggestions {
    width: 100%;
  }
  .SousTitre {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .Bouton {
    background-color: #6fa2a7;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
  }
  .NouvellesFiches {
    padding: 20px 10px 50px 10px;
    margin-bottom: 0px;
  }

  .SymptomesFrequents {
    padding: 20px 10px 50px 10px;

    border-top: 1px solid #ddd;
  }

  .AproposMobile {
    display: inline;
  }
}
