.DivSousTitre {
  height: 50px;
  width: 100%;
  background-color: #f5f4f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.DivBoutons {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Bouton {
  height: 50px;
  width: 295px;
  margin: auto;
  background-color: white;
  color: #6fa2a7;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  border: solid 1px #ddd;
}

.Bouton:hover {
  cursor: pointer;
  border: solid 1px #6fa2a7;
}

.AproposMobile,
.AproposMobile:visited {
  height: 50px;
  width: 295px;
  padding: 15px;
  margin-top: 10px;
  text-align: center;
  color: #6fa2a7;
  font-size: 15px;
  font-weight: 700;
  display: none;
  margin-bottom: 50px;
}

.SousTitre {
  font-size: 18px;
  color: #898a82;
  font-weight: 300;
  font-style: italic;
}

.HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 30px 20px 20px 30px;
  justify-content: space-between;
}

.Phrase {
  width: 70%;
  margin-bottom: 40px;
}

.Suggestions {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  width: 49%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.LogoMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .HomePage {
    padding: 30px 10px 20px 10px;
  }

  .Phrase {
    width: 100%;
    padding: 10px 20px 20px 20px;
  }

  .LogoMobile {
    display: inline;
  }

  .Suggestions {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }

  .Bouton {
    background-color: #6fa2a7;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
  }

  .AproposMobile {
    display: inline;
  }
}
