.MonEditeur {
  padding-top: 10px;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.5);
}

.ToolBar {
  display: flex;
  height: 40px;
  align-items: center;
  background-color: #ededed;
  padding-left: 20px;
}

.Bouton {
  width: 30px;
  height: 30px;
  background-color: #ededed;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: AAA;
}

.Bouton:hover {
  background-color: #6fa2a7;
  color: white;
}

.Editor {
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}
