.Urgences {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.BlocImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.BorderImage {
  height: 10px;
  background-color: white;
  width: 100%;
}

.Titre {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.TitreRouge {
  font-weight: 900;
  color: #eb2423;
}

.Texte {
  padding: 0px 20px 20px 20px;
}
