.App {
  min-height: 100%;
  display: flex;
  font-family: "Lato", sans-serif;
}

.App a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.Page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  margin: 0px 20px 0px 20px;
}

.Apropos {
  display: flex;
  align-items: center;
}

.boutonEditor {
  background: greenyellow;
}

@media screen and (max-width: 768px) {
  .App {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    display: flexbox;
  }

  .Page {
    margin: 0px 0px 0px 0px;
  }

  .Fiche {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
  }

  .FicheTitre {
    background-color: cadetblue;
  }

  .FicheSymptomes {
    display: flow-root;

    background-color: lightcoral;
  }

  .FicheSymptomes h2 {
    background-color: lightgreen;
  }

  .FicheWrapper {
    grid-template-columns: 100%;
  }
}
