.App {
  height: 100vh;
  display: flex;
  font-family: "Lato", sans-serif;
}

.App a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.Page {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 20px;
}

.Menu {
  min-width: 280px;
  background-color: #6fa2a7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 20px 0px 20px 0px;
  background-color: #6fa2a7;
}

.Titre img {
  width: 230px;
  height: 40px;
}

.Titre p {
  font-size: 13px;
  text-align: center;
  color: white;
}

.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6fa2a7;
}

.Logo img {
  width: 100px;
}

.GroupeFiches {
  font-size: 13px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.GroupeFiches h1 {
  font-size: 13px;
  color: white;
}

.LienFiche {
  background-color: #c4e3e6;
  height: 50px;
  width: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.LienFiche h1 {
  font-size: 16px;
}

.LienFiche a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #333;
}

.Entete {
  width: 100%;
  min-height: 5%;
  border-bottom: 1px solid #c4e3e6;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  padding: 0px 30px 0px 30px;
}

.Nav-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  width: 200px;
  height: 40px;
}
.Nav-link a {
  color: #6fa2a7;
}

.HomePage {
  display: flex;
}

.HomePage h1 {
  font-family: "Pacifico", cursive;
  color: #6fa2a7;
  font-size: 22px;
  max-width: 70%;
  padding: 30px 20px 20px 30px;
}

.Entete {
  display: flex;
  align-items: center;
}

.Apropos {
  display: flex;
  align-items: center;
}

.Fiche {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.FicheTitre,
.FicheSymptomes {
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f4f2;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.FicheTitre h1 {
  font-size: 30px;
  color: #6fa2a7;
  height: 40px;
}

.FicheTitre p {
  font-size: 16px;
  color: #898a82;
}

.FicheTitre h1 {
  font-size: 30px;
  font-weight: 700;
  color: #6fa2a7;
  text-transform: uppercase;
}

.FicheSymptomes {
  display: flex;
  flex-direction: row;
}

.FicheSymptomes h2 {
  padding-right: 20px;
  font-weight: 700;
  color: #6fa2a7;
}

.FicheSymptomes p {
  padding-top: 6px;
  color: #6fa2a7;
  width: 80%;
}

.FicheWrapper {
  margin-top: 10px;
  display: block; /* IE fix */
  display: grid; /* crée un contexte flex pour ses enfants */
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

.Conseil {
  padding: 20px 20px 20px 20px;
  background-color: #e8e098;
  white-space: pre-wrap;
}

.Conseil h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
}

.AllezMedecin {
  padding: 20px 20px 20px 20px;
  background-color: #f5f4f2;
  color: #898a82;
}
.AllezMedecin h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
  color: #333;
}

.Enfant,
.Risque {
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  color: #333;
}

.Enfant h2,
.Risque h2 {
  font-size: 24px;
  height: 30px;
  margin-bottom: 20px;
  color: #6fa2a7;
}

@media screen and (max-width: 768px) {
  .App {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    display: flexbox;
  }
  .Menu {
    display: none;
  }

  .Titre {
    min-width: 100%;
  }

  .Entete {
    background-color: lightsalmon;
    display: none;
  }

  .Page {
    margin: 0px 0px 0px 0px;
    background-color: aqua;
  }

  .Nav-link {
    display: none;
  }

  .homePage {
    width: 100%;
  }

  .HomePage h1 {
    font-family: "Pacifico", cursive;
    background-color: #6fa2a7;
    color: white;
    font-size: 18px;
    min-width: 100%;
    padding: 30px 20px 20px 30px;
  }

  .Fiche {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
  }

  .FicheTitre {
    background-color: cadetblue;
  }

  .FicheSymptomes {
    display: flow-root;

    background-color: lightcoral;
  }

  .FicheSymptomes h2 {
    background-color: lightgreen;
  }

  .FicheWrapper {
    grid-template-columns: 100%;
  }
}
