.App {
  min-height: 100vh;
  display: flex;
  font-family: "Lato", sans-serif;
}

.App a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.Page {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  margin: 0px 20px 0px 20px;
}

.Menu {
  min-width: 280px;
  background-color: #6fa2a7;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  padding: 20px 0px 20px 0px;
  background-color: #6fa2a7;
}

.Titre img {
  width: 230px;
  height: 40px;
}

.Titre p {
  font-size: 13px;
  text-align: center;
  color: white;
}

.Logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6fa2a7;
}

.Logo img {
  width: 100px;
}

.GroupeFiches {
  font-size: 13px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.GroupeFiches h1 {
  font-size: 13px;
  color: white;
}

.LienFiche {
  background-color: #c4e3e6;
  height: 50px;
  width: 240px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 10px;
}

.LienFiche h1 {
  font-size: 16px;
}

.LienFiche a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #333;
}

.Entete {
  width: 100%;
  min-height: 6%;
  border-bottom: 1px solid #c4e3e6;
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 30px;
}

.Nav-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 30%;
  height: 40px;
  justify-content: flex-end;
}
.Nav-link a {
  color: #6fa2a7;
}

.HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px 20px 30px;
  justify-content: space-between;
}

.HomePage h1 {
  font-family: "Pacifico", cursive;
  color: #6fa2a7;
  font-size: 22px;
  max-width: 70%;
  margin-bottom: 40px;
}

.Entete {
  display: flex;
  align-items: center;
}

.Apropos {
  display: flex;
  align-items: center;
}

.boutonEditor {
  background: greenyellow;
}
@media screen and (max-width: 768px) {
  .App {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    display: flexbox;
  }
  .Menu {
    display: none;
  }

  .Titre {
    min-width: 100%;
  }

  .Entete {
    background-color: lightsalmon;
    display: none;
  }

  .Page {
    margin: 0px 0px 0px 0px;
  }

  .Nav-link {
    display: none;
  }

  .homePage {
    width: 100%;
  }

  .HomePage h1 {
    font-family: "Pacifico", cursive;
    background-color: #6fa2a7;
    color: white;
    font-size: 18px;
    min-width: 100%;
    padding: 30px 20px 20px 30px;
  }

  .Fiche {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
  }

  .FicheTitre {
    background-color: cadetblue;
  }

  .FicheSymptomes {
    display: flow-root;

    background-color: lightcoral;
  }

  .FicheSymptomes h2 {
    background-color: lightgreen;
  }

  .FicheWrapper {
    grid-template-columns: 100%;
  }
}
