.Entete {
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid #c4e3e6;
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 30px;
  align-items: center;
}

.NavLink {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 30%;
  height: 40px;
  justify-content: flex-end;
}
.NavLink a:visited {
  color: #6fa2a7;
}

.NavLink a:hover {
  color: #6fa2a7;
  text-decoration: underline;
}

.BoutonAjouter {
  display: flex;
  height: 40px;
  background-color: #e8e098;
  width: 190px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.411);
  padding-left: 5px;
}

.BoutonAjouter:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
}

.BoutonAjouter:active {
  box-shadow: none;
}
