.DivSousTitre {
  height: 50px;
  width: 100%;
  background-color: #f5f4f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.SousTitre {
  font-size: 18px;
  color: #898a82;
  font-weight: 300;
  font-style: italic;
}

.HomePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 30px 20px 20px 30px;
  justify-content: space-between;
}

.Phrase {
  font-family: "Pacifico", cursive;
  color: #6fa2a7;
  font-size: 22px;
  max-width: 70%;
  margin-bottom: 40px;
}

.Suggestions {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 300px;
  width: 49%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.LogoMobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .HomePage {
    padding: 30px 10px 20px 10px;
  }

  .Phrase {
    max-width: 100%;
    padding: 10px 20px 20px 20px;
  }

  .LogoMobile {
    display: inline;
  }
}
